.jumbotron {
  color: navy;
  height: 4rem;
  margin-bottom: 0px;
}

/* still having probs with margin and padding */
.searchCol {
  height: 100vh;
  padding-top: 1rem;
  padding-right: 1rem;
  margin-right: -1rem;
}

.low {
  background-color: green;
  color: white;
}

.moderate {
  background-color: yellow;
  color: black;
}

.high {
  background-color: orange;
  color: black;
}

.veryhigh {
  background-color: orangered;
  color: white;
}

.extreme {
  background-color: red;
  color: white;
}
